body{
	background:linear-gradient(#f8da61,#ff5acd);
    font-family: 'Source Sans Pro',sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}
#myBtn {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 22px;
        max-width: 50px;
        height: 50px;
        width: 100%;
        text-align: center;
        border-color: rgba(85, 85, 85, 0.5);
        background-color: rgb(100,100,100);
        padding: .5px;
        border-radius: 40px;
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
/*On Hover Color Change*/
    #myBtn:hover {
        background-color: #7dbbf1;
    }

.csec{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.card{
			margin-bottom: 1rem;
			perspective: 1000px;
		}
		.container{
			display: grid;
			grid-template-columns: center;
			justify-content: center;
			transition: all 1s ease;
			transform-style: preserve-3d;
			margin-top: 10px;
		}
		.card:hover .container{
			transform: rotateY(180deg);
		}
		.back{
			grid-area: 1/1;
			transform: rotateY(180deg);
		}
		.front{
			grid-area:1/1;
		}
		.container img{
			width: 450px;
			height: 400px;
			padding: 5px 10px 5px 10px;
		}

.map
{
    width: 100%;
    height: 600px;
    flex: 50%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    
}
.map iframe
{
    width: 100%;
    height: 600px;
}

